/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "sans-serif";
}

/* Utils */
body {
  background-color: #f6f8f9;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  background-color: #fff;
}

h1 {
  font-size: 34px;
  font-weight: 1000;
  display: inline;
  vertical-align: middle;
}

/* Header */
header {
  background-color: #fff;
}

#logo {
  padding: 10px 15px;
  vertical-align: middle;
}

/* Buttons */
.button-section {
  padding: 10px;
}

button {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 4px;
  background-color: #fff;
  color: #808080;
  font-size: 13px;
}

.button-blue {
  color: aliceblue;
  border: 1px solid #1e90ff;
  background-color: #1e90ff;
}

/* List */
.list-title {
  list-style: none;
  vertical-align: middle;
  margin: 0 2px;
}
.list-title > li::marker {
  content: "\25BE";
  font-size: 12px;
}
.sublist {
  list-style: none;
  border: 1px solid #00ff00;
}
.sublist > li::marker {
  content: "\2713";
  color: #00ff00;
}
.sublist > li.unchecked::marker {
  content: "\2717";
  color: #ff0000;
}
