/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "sans-serif";
}

/* Utils */
body {
  background-color: #f6f8f9;
}

.container {
  padding: 0px 30px;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
}

h1 {
  font-size: 34px;
  font-weight: 1000;
  display: inline;
  vertical-align: middle;
}

h3 {
  display: inline;
}

/* Header */
header {
  background-color: #fff;
}

#logo {
  padding: 10px 15px;
  vertical-align: middle;
}

/* Buttons */
.button-section {
  margin: 5px 0px 25px;
  padding: 10px;
}

button {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 4px;
  background-color: #fff;
  color: #808080;
  font-size: 13px;
}

.button-blue {
  color: aliceblue;
  border: 1px solid #1e90ff;
  background-color: #1e90ff;
}

/* List */
.list-title {
  list-style: none;
  vertical-align: middle;
  margin: 0 2px;
}
.list-title > li::before {
  display: inline-flex;
  content: "\25BE";
  font-size: 12px;
  vertical-align: middle;
  translate: 0 -2px;
}
.sublist {
  list-style: none;
  margin: 15px 0;
}
.sublist > li::before {
  margin: 5px;
  display: inline-flex;
  border: 1px solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  justify-content: right;
  align-items: center;
}
.sublist > li.checked::before {
  content: "\2713";
  color: #00ff00;
}
.sublist > li.unchecked::before {
  content: "\2717";
  color: #ff0000;
}

/* List Badges */
.badge {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  padding: 2px 5px;
  color: #fff;
  border: 1px solid black;
  border-radius: 30px;
  vertical-align: middle;
}
.bg-color-blue {
  background-color: #45abea;
  border: 1px solid #45abea;
}
.bg-color-purple {
  background-color: #9c72e4;
  border: 1px solid #9c72e4;
}
.bg-color-green {
  background-color: #64c0a9;
  border: 1px solid #64c0a9;
}
.bg-color-orange {
  background-color: #f29e33;
  border: 1px solid #f29e33;
}
.bg-color-pink {
  background-color: #d863a1;
  border: 1px solid #d863a1;
}
.bg-color-lemon {
  background-color: #b0c926;
  border: 1px solid #b0c926;
}
